.root {
   background-color: var(--headerBackground);
}

.container {
   max-width: 1200px;
   box-sizing: content-box;
   margin: 0 auto;
   flex: 1 1 auto;
   display: flex;
   padding: 1rem 0;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: flex;
   align-items: center;
   gap: 0.6rem;
   font-size: 1.5rem;
   color: var(--lightTextColor);
   font-weight: 600;

   img {
      width: 3rem;
   }
}